__pycache__/
*.py[cod]
.venv/
venv/

.env

db.sqlite3
*.log
staticfiles/
htmlcov/
.coverage

.idea/
.vscode/
.DS_Store


docs/*
!docs/ARCHITECTURE.md
!docs/DATABASE.md
!docs/BUSINESS_LOGIC.md
!docs/API.md
!docs/DEPLOYMENT.md
!docs/screenshots/
